@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.navadjust{
  transform: translateX(-160px);
}
#preloader{
  background: #FCFCFF url(../../img/preloader.gif) no-repeat center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000000;
  background-size: 800px;
  overflow: hidden;
}
.glassmorphism{
    height: 800px;
    align-items: center;
    border-radius: 1%;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    backdrop-filter:blur(10px);
  }
.glassmorphism::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 100px rgba(255,255,255,.5);
    margin: 0
  }
.pnameincent{
      text-align:center;
      margin:10%;
      padding:2%;
      box-shadow: inset 0 0 300px rgba(255,255,255,.5);
      border:1px solid grey;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
.avatar{
    width:80px;
    height:80px;
    border-radius:50%;
    border:2px solid grey;
    margin:auto;
    display:block;
    background-image: url("https://www.dropbox.com/s/1rabgzukj4zu4os/SAVE_20201107_124716.jpg?dl=1");
    background-size: cover;
  
  }

.imgrotateanim{
  width: 1500px;
  height: 1500px;
  animation: roundrotateimg infinite 35s;
  overflow: hidden;
  filter: contrast(1.15);
  z-index: -100;
}
.imgrotateanimdiv{
  transform: translate(280px,-560px);
  overflow-x: hidden;
  z-index: -100;
}

@keyframes roundrotateimg {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(0deg);
  }
  22%{
    transform: rotate(-90deg);
  }
  40%{
    transform: rotate(-90deg);
  }
  42%{
    transform: rotate(-180deg);
  }
  60%{
    transform: rotate(-180deg);
  }
  62%{
    transform: rotate(-270deg);
  }
  80%{
    transform: rotate(-270deg);
  }
  82%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
  .c1, .c2 , .c3 p{
   
    
    padding: 2px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}
.c1{
  text-align: right;
}
.containerforshowcase{
  transform: translateX(55px);
}
.img{
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 0px 50px 0px 50px;
}
.img2{
  float: right;
  padding-left: 8px;
  
  margin-top: 70px;
  margin-right: -70px;
  width: 270px;
  height: 270px;
  border-radius: 50px 50px 0px 50px;
  shape-outside:  ellipse(120% 28% at 250px 190px);
}
.img3{
  float: right;
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 0px 0px 0px 50px;
}
.c1{ 
  position: absolute;
  width: 280px;
  height: 450px;
  margin-left: 35px;
}
.c2{ 
  position: absolute;
  width: 300px;
  height: 450px;
  transform: translate(420px,-20px);
}

.c3{ 
  position: absolute;
  transform: translateX(850px) ;
  width: 300px;
  height: 200px;
  background-color: #fff;
}
.abtusdan{
  margin-left:70px;
}
.prodtitle{
  margin-left:40px;
}
.legalindus{
  margin-left: 75px;
}

.footr{
  height: 450px
}


/* Footer anime */
/* .slideranime{
  max-width: 1120px;
  width: 100%;
  margin-top: -68px;
  padding: 40px 0px;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.card .image-box {
  height: 300px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  padding: 5px;
 
  column-gap: 12px;
  padding: 0px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 18px;
  font-weight: 500;
 
}
.profile-details .job {
  font-size: 15px;
  font-weight: 500;
  color: #4d4d4d;
   
}
.profile-details {
  text-align: center;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
} */


.pudhuanim input {

  display: none;
}

.pudhuanim {

  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  position: relative;
  height: 390px;
  width: 390px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.cards label {
  position: absolute;
  width: 390px; 
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.55s ease;
}

.cards .card{
  position: relative;
  height: 390px;
  width: 390px;
  background-color: #323444;
  border-radius: 10px;
  padding: 30px 25px;
}

.card .image{
  display: flex;
  justify-content: space-between;
}

.card .image img{
  border-radius: 5px;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  margin-top: 23px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card .image .dots{
  text-align: center;
}

.card .infos{
  display: block;
  text-align: end;
  padding-top: 60px;
}

.infos span{
  display: block;
}

.infos .name{
  font-size: 19px;
  margin-top: 5px;
  color: var(--current-color1);
  letter-spacing: 2px;
  font-family: 'Raleway', sans-serif;
  transform: translate(-40px,-40px);
  transition: all .6s ease;
}
.infos .lorem{

  font-size: 15.5px;
  color: #ECEAED;
  letter-spacing: 3px;
  transform: translate(-25px,-25px);
}
.infos .lscskit{
  transform: translate(-120px,-45px);
}
.infos .drespack{
  transform: translate(-30px,-45px);
}
.infos .mopad{
  transform: translate(-100px,-45px);
}
.infos .gze{
  transform: translate(-100px,-45px);
}
.infos .surgown{
  transform: translate(-100px,-45px);
}
.card .btn-contact{

  width: 40%;
  height: 60px;
  margin: 15px auto;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.692);
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  transform: translateY(-30px);
  transition: all .7s ease;
}
.card .btn-contact:hover{
  background-color: rgb(248, 248, 248);
  color: black;
}
#slide1, #slide2, #slide3, #slide4, #slide5{
  border-radius: 3%;
}
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #404457;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
  transform: translate3d(0, 0, 0);
  --current-color1: #ffffff;
  --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
  transform: translate3d(70%, 0, -220px);
  --current-color1: #ECEAED;
  --current-color2: #404457;
}
@media (max-width: 578px) {
  .pudhuanim{
    top: 100px;
  }
  #s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: none;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: none;
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
  box-shadow: none;
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
  box-shadow: none;
}
#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
  box-shadow: none;
}
  .cards, .cards .card{
    width: 70%;
    height: 60%;
  }
  #slide1, #slide2, #slide3, #slide4, #slide5{
    width: 80%;
    height: 100%;
    box-shadow: none;
    left: 60px;
  }
  .cards .card img{
    width: 90%;
    height: 80%;
    transform: translateY(-30px);
  }
  .infos .name{
    margin-top: 0;
    margin-left: 0;
    font-size: 9px;
    letter-spacing: 1px;
  }
  .infos .drespack{
    transform: translate(0px,-70px);
    font-size: 50%;
    width: 100%;
  }
  .infos .lscskit{
    transform: translate(-10px,-70px);
    font-size: 70%;
  }
  .infos .mopad{
    transform: translate(-6px,-70px);
    font-size: 70%;
    width: 120%;
  }
  .infos .gze{
    transform: translate(-9px,-70px);
    font-size: 60%;
    width: 120%;
  }
  .infos .surgown{
    transform: translate(-14px,-70px);
    font-size: 50%;
    width: 120%;
  }
  .card .btn-contact{
    font-size: 50%;
    width: 80%;
    transform: translateY(-78px);
    }
  .card .cnt2{
    transform: translateY(-49px);
  }
  .abtusdan{
    margin-left:0px;
  }
  .prodtitle{
    margin-left:0px;
  }

}
/* @media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
} */

@media (max-width: 578px) {
  .c1, .c2 , .c3 p{
    word-spacing: 0px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  .jay{
    margin-top: 50px;
  }
  .c1{
    margin-left: -40px;
  }
  .c2{
    transform: translate(-35px,235px);
    text-align: left;
 
  }
  .c3{
    transform: translate(-30px,450px);
  }
  .containerforshowcase{
    padding-bottom: 170px;
  }
  .c2 p{
    text-align:left ;
    width: 60%;
    transform: translate(20px,-178px);
    z-index: 1;
  }
  .imgfirst{
    float: left;
    width: 45%;
    height: 45%;
    border-radius: 0px 50px 0px 50px;
  }
  .img2{
    float: right;
    margin: 3px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 44%;
    height: 44%;
    z-index: 3;
    border-radius: 50px 50px 0px 50px;
  }
  .img3{
    float: right;
    padding: 5px;
    width: 45%;
    height: 45%;
    border-radius: 0px 0px 0px 50px;
  }
  /* .cards{
    left: -999em;
  } */
  .mobslide{
    display: block;
  }
  .navadjust {
    transform: translateX(10px);
  }
  .navadjust ul{
    transform: translateX(0px);
    text-align: center;
  }
  .enclosedsmcont{
    transform: translateY(80px);
  }
  .abtusdan{
    margin-left:0px;
  }
  .prodtitle{
    margin-left:0px;
  }
  .legalindus{
    margin-left: 35px ;
  }
  .footr{
    height: 1250px
  }
}
@media (min-width: 768px) {
  .btmthallu{
    transform: translateX(-20px);
  }
  .andcont{
    transform: translate(900px,-340px);
  }
}